{% extends "base.html" %}

{% block content %}
    <section id="error-container">

        <div class="block-error">

            <header>
                <h1 class="error">500</h1>

                <p class="text-center">Something went wrong.</p>
            </header>

            <p class="text-center">Our engineers have have been notified and will address the issue shortly</p>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-info btn-block btn-3d" href="{% url 'dashboard' %}">Back to Dashboard</a>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
