{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
<style>
    .progress{
        padding-left:0px;
        margin-bottom: 10px;
    }
    .sublabel{
        padding-left: 5px;
    }
    #horizontal-style {
        display: table;
        width: 100%;
        position:absolute;
        height:20px;
    }
    #horizontal-style li {
        display: table-cell;
    }

    .popover {
        background: #0099ff;
    }
    .popover.bottom .arrow:after {
        border-bottom-color: #0099ff;
    }

    .popover-content {
        padding: 0px 0px;
    }

    .popover-title{
        border-radius: 5px 5px 5px 5px;
    }

</style>
<section class="main-content-wrapper">
    <section id="main-content">
    <!--tiles start-->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=active">
                <div class="dashboard-tile detail tile-red">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.active }}"
                            data-speed="2500"></h1>

                        <p>Active</p>
                    </div>
                    <div class="icon"><i class="fa fa-certificate"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=implemented">
                <div class="dashboard-tile detail tile-turquoise">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.implemented }}"
                            data-speed="2500"></h1>

                        <p>Completed</p>
                    </div>
                    <div class="icon"><i class="fa fa-stop"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=in_process">
                <div class="dashboard-tile detail tile-blue">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.in_process }}"
                            data-speed="2500"></h1>

                        <p>Initiated</p>
                    </div>
                    <div class="icon"><i class="fa fa fa-pencil"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=cancelled">
                <div class="dashboard-tile detail tile-purple">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-to="{{ pcas.cancelled }}"
                            data-speed="2500"></h1>

                        <p>Cancelled</p>
                    </div>
                    <div class="icon"><i class="fa fa-stop"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--tiles end-->
    <!-- result structure dropdown -->
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Result Structure: {{ current_structure.name }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for structure in structures %}
                        <li><a href="{% url 'indicator_dashboard' %}?structure={{ structure.id }}">{{ structure.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <!-- tabs start -->
    <ul class="nav nav-tabs col-md-10">
        {% for name,indicators in sectors.items %}
            <li class="{% if forloop.first %}active{% endif %}">
                <a href="#tab-{{ name.split|join:"_" }}" data-toggle="tab" class="">{{ name }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- tabs end -->

    <!-- tabs content start -->
    <div class="tab-content col-md-9" style="padding-top: 10px">
        {% for name,indicators in sectors.items %}
            {% cycle 'info' 'warning' 'success' 'danger' as barcolor silent %}

            <div id="tab-{{ name.split|join:"_" }}" class="tab-pane {% if forloop.first %}active{% endif %}" >

                    <!--Indicators start-->
                {% for ind in indicators %}
                <div class="row panel-body" style="margin-top: 10px; background-color: #ffffff;">
                    <a href="{% url 'admin:reports_indicator_change' ind.indicator.id %}">
                        <span class="sublabel">{{ ind.indicator.name }} ({{ ind.indicator.humanitarian_response_plan }})</span>
                    </a>
                    {% with actual=ind.indicator.current %}
                    <div>
                        <span class="sublabel pull-left col-md-12">Programmed: {{ ind.programmed|intcomma }}</span>
                        <span class="sublabel pull-left col-md-2" style="margin-bottom: 0px;">Reached: {{ actual|intcomma }}</span>
                        <span class="sublabel col-md-2 pull-right">Target: {{ ind.indicator.total|intcomma }}</span>
                    </div>
                    <!-- progress -->
                        <div class="progress col-md-11">
                            <div class="progress-bar progress-bar-{{ barcolor }}"
                                 style="width: {% widthratio actual ind.indicator.total 100 %}%" >
                                {% widthratio actual ind.indicator.total 100 %}%
                            </div>
                        </div>
                    {% endwith %}

                    <div class="col-md-offset-11" style="padding-left:  15px;">
                        <a href="javascript:sectorClick({{ ind.indicator.id }});" id="show-sector{{ ind.indicator.id }}"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <!-- Sector progress -->
                    <div id="sector-progress{{ ind.indicator.id }}" style="margin-bottom: 10px !important; display: none;">
                        {% with actual=ind.indicator.sector_current %}
                            <div>
                                <span class="sublabel col-md-2 pull-left">Sector Reached: {{ actual|intcomma }}</span>
                                <span class="sublabel col-md-2  pull-right" >Sector Target: {{ ind.indicator.sector_total|intcomma }}</span>
                            </div>
                            <div class="progress progress-striped col-md-11" >
                                <!-- unicef -->
                                <span id="sector-unicef-{{ ind.indicator.id }}" class="progress-bar progress-bar-primary"
                                      style="width: {% widthratio ind.indicator.current ind.indicator.sector_total 100 %}%"
                                      data-toggle="popover" title="unicef {% widthratio ind.indicator.current ind.indicator.sector_total 100 %}% " data-container="body" data-trigger="hover">
                                </span>

                                <!-- Sector -->
                                <span class="progress-bar progress-bar-{{ barcolor }}"
                                     style="width: {% widthratio actual|sub:ind.indicator.current ind.indicator.sector_total 100 %}%; text-align: initial;">
                                </span>
                                <!-- setting the sector percentage text to be in the middle of 2 progress spans -->
                                <span id="sector-percent" style="color: #fff; position: absolute; left:{% if ind.indicator.sector_total %}{{actual|div:ind.indicator.sector_total|mul:100|div:2|sub:1}}{% else %}0{% endif %}%;">{% widthratio actual ind.indicator.sector_total 100 %}%</span>
                            </div>
                        {% endwith %}
                    </div>

                </div>

                {% endfor %}
                <!--indicators end-->

            </div>
        {% endfor %}
    </div>
    <!-- tabs content end -->
    </section>
</section>

{% endblock content %}

{% block extra_js %}

    <script type="text/javascript">
    function sectorClick(indID) {
        $('#sector-progress' + indID).fadeToggle("slow");
        $('#show-sector' + indID).children(".fa-chevron-down, .fa-chevron-up").toggleClass( 'fa-chevron-up fa-chevron-down');
    }

    $(document).ready(function() {
        $("[data-toggle='popover']").popover({placement : 'bottom', container : 'body'});
    });
    </script>

{% endblock extra_js %}