{% extends "base.html" %}
{% load leaflet_tags %}

{% block extra_head %}

    {% leaflet_js %}
    {% leaflet_css %}

{% endblock %}

{% block content %}
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.ie.css" />
    <![endif]-->
    <!--Switch between the different themes changing the stylesheet below - light-theme.css |dark-theme.css -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dark-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/makeitresponsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/spongemap.css" />
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% leaflet_map "leaflet-map" callback="window.main" %}
                        </div>
                    </div>
                </div>
            </div>

            <script src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"></script>
            <!--<script src="App.js"></script> -->
            <!--Change the URL below in order to change the map that is being shown.
            Go to your map in CartoDB, click on share, and copy the URL undert the API section
            Check the cartodb.js documentation for more info
            http://developers.cartodb.com/documentation/cartodb-js.html-->
            <script>

                function main(map, options) {

                    layer_control = L.control.layers().addTo(map);

                    // Download GeoJSON via Ajax
                    $.getJSON('{% url 'governorates' %}', function (data) {
                        // Add GeoJSON layer
                        layer_control.addOverlay(L.geometryToLayer(L.geoJson(data)), 'Governorates');
                    });

                    // Download GeoJSON via Ajax
                    $.getJSON('{% url 'districts' %}', function (data) {
                        // Add GeoJSON layer
                        layer_control.addOverlay(L.geometryToLayer(L.geoJson(data)), 'Districts');
                    });

                    // Download GeoJSON via Ajax
                    $.getJSON('{% url 'sub-districts' %}', function (data) {
                        // Add GeoJSON layer
                        layer_control.addOverlay(L.geometryToLayer(L.geoJson(data)), 'Sub-districts');
                    });

                    $.get("{% url 'locations' %}", function (data) {
                        $.each(data, function (index, location) {
                            var marker_content = '\
                                <h4 style="font-weight: strong;">' + location.pca_number + '</h4>\
                                <table cellpadding="4" cellspacing="0" border="0">\
                                    <tr>\
                                        <td style="vertical-align:top; white-space:nowrap;">PCA title:</td>\
                                        <td style="vertical-align:top;">' + location.pca_title + '</td>\
                                    </tr>\
                                    <tr>\
                                        <td style="vertical-align:top; white-space:nowrap;">Gateway:</td>\
                                        <td style="vertical-align:top;">' + location.gateway_name + '</td>\
                                    </tr>\
                                    <tr>\
                                        <td style="vertical-align:top; white-space:nowrap;">Partner:</td>\
                                        <td style="vertical-align:top;">' + location.partner_name + '</td>\
                                    </tr>\
                                    <tr>\
                                        <td style="vertical-align:top; white-space:nowrap;">Sector:</td>\
                                        <td style="vertical-align:top;">' + location.sector_name + '</td>\
                                    </tr>\
                                </table>\
                                ';
                            var marker = L.marker(new L.LatLng(location.latitude, location.longitude));
                            marker.bindPopup(marker_content);
                            marker.addTo(map)
                        });
                    });
                }

            </script>
        </section>
    </section>


{% endblock %}