{% extends "base.html" %}
{% load humanize %}

{% block content %}
<section class="main-content-wrapper">
    <section id="main-content">
    <!--tiles start-->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=active">
                <div class="dashboard-tile detail tile-red">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.active }}"
                            data-speed="2500"></h1>

                        <p>Active</p>
                    </div>
                    <div class="icon"><i class="fa fa-certificate"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=implemented">
                <div class="dashboard-tile detail tile-turquoise">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.implemented }}"
                            data-speed="2500"></h1>

                        <p>Completed</p>
                    </div>
                    <div class="icon"><i class="fa fa-stop"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=in_process">
                <div class="dashboard-tile detail tile-blue">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-from="0"
                            data-to="{{ pcas.in_process }}"
                            data-speed="2500"></h1>

                        <p>Initiated</p>
                    </div>
                    <div class="icon"><i class="fa fa fa-pencil"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'admin:partners_pca_changelist' %}?q=&status__exact=cancelled">
                <div class="dashboard-tile detail tile-purple">
                    <div class="content">
                        <h1 class="text-left timer"
                            data-to="{{ pcas.cancelled }}"
                            data-speed="2500"></h1>

                        <p>Cancelled</p>
                    </div>
                    <div class="icon"><i class="fa fa-stop"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--tiles end-->
    <!-- result structure dropdown -->
    <div class="row">
        <div class="col-md-4">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    Result Structure: {{ current_structure.name }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for structure in structures %}
                        <li><a href="{% url 'dashboard' %}?structure={{ structure.id }}">{{ structure.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    <!-- tabs start -->
    <ul class="nav nav-tabs col-md-10">
        {% for name,indicators in sectors.items %}
            {% if name == "WASH" %}
                 <li class="active bg-info">
                    <a href="#tab-{{ name.split|join:"_" }}" data-toggle="tab">{{ name }}</a>
                 </li>
            {% else %}
                 <li class="bg-info">
                    <a href="#tab-{{ name.split|join:"_" }}" data-toggle="tab">{{ name }}</a>
                 </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- tabs end -->

    <!-- tabs content start -->
    <div class="tab-content col-md-8" style="padding-top: 10px">
        {% for name,indicators in sectors.items %}
            {% cycle 'info' 'warning' 'success' 'danger' as barcolor silent %}

            {% if name == "WASH" %}
            <div id="tab-{{ name.split|join:"_" }}" class="tab-pane active" >
            {% else %}
            <div id="tab-{{ name.split|join:"_" }}" class="tab-pane">
            {% endif %}
                    <!--Indicators start-->
                {% for ind in indicators %}
                <div class="row dashboard-tile" style="margin-top: 15px; background-color: #ebecee;">
                    <a href="{% url 'admin:reports_indicator_change' ind.indicator.id %}">
                        <span class="sublabel">{{ ind.indicator.name }} ({{ ind.indicator.result_structure }})</span>
                    </a>
                    <div>
                        <span class="sublabel"
                              style="float: right;">Target: {{ ind.indicator.total|intcomma }}</span>
                        <span class="sublabel">Programmed: {{ ind.programmed|intcomma }}</span>
                    </div>
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-{{ barcolor }}"#}
{#                             style="width: {% widthratio ind.programmed ind.indicator.total 100 %}%">#}
{#                            {% widthratio ind.programmed ind.indicator.total 100 %}%#}
{#                        </div>#}
                        {% with actual=ind.indicator.progress %}
{#                            <div>#}
{#                                <span class="sublabel">Reached: {{ actual|intcomma }}</span>#}
{#                            </div>#}
                            <div class="progress progress-striped col-md-11">
                                <span class="sublabel">Reached: {{ actual|intcomma }}</span>
                                <div class="progress-bar progress-bar-{{ barcolor }}"
                                     style="width: {% widthratio actual ind.indicator.total 100 %}%">
                                    {% widthratio actual ind.indicator.total 100 %}%
                                </div>
                            </div>
                        {% endwith %}

                    <!-- progress -->
{#                    </div>#}
                    <div class="pull-right">
                        <a href="javascript:sectorClick({{ ind.indicator.id }});" id="show-sector{{ ind.indicator.id }}"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <!-- Sector progress -->
                    <div>
{#                        <div class="progress">#}
                            <div class="progress progress-striped col-md-11" id="sector-progress{{ ind.indicator.id }}" style="margin-bottom: 10px !important; display: none;">
                                <span class="sublabel"> {{ actual|intcomma }}</span>
                                <span class="progress-bar progress-bar-primary }}"
                                     style="width: 10%">
                                    Unicef
                                </span>
                                <span class="progress-bar progress-bar-{{ barcolor }}"
                                     style="width: 40%">
                                    Sector Reached:
                                   40%
                                </span>

                            </div>

{#                        </div>#}
                    </div>
                </div>

                {% endfor %}
                <!--indicators end-->

            </div>
        {% endfor %}
    </div>
    <!-- tabs content end -->
    </section>
</section>

    <script type="text/javascript">
    function sectorClick(indID) {
        //$('#show-sector').click( function(){
            $('#sector-progress' + indID).slideToggle("slow");
            $('#show-sector' + indID).children(".fa-chevron-down, .fa-chevron-up").toggleClass( 'fa-chevron-up fa-chevron-down');
            //$('#show-sector' + indID).children().first().removeClass("fa-chevron-up");
            //$('#show-sector' + indID).children().first().addClass("fa-chevron-down");
        //});
    }
    </script>
{% endblock content %}