{% extends "base.html" %}
{% load humanize %}
{% load mathfilters %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/personal_dashboard.css" />
{% endblock %}

{% block content %}

<section class="main-content-wrapper">
    <section id="main-content">
    <div class="col-md-12">
        <header class="hero-spacer">
            <h3>Welcome {{ request.user.first_name }}!</h3>
            <p>This is your personalized dashboard for today.</p>
            </p>
        </header>

    </div>
    <div class="col-md-12">
        <!-- TRIPS PANEL -->
        <div id="trips-panel" class="col-md-5 panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-road"></i>&nbsp;
                    My Trips
                </h3>
                <div class="actions pull-right">
                    <i class="fa fa-chevron-down"></i>
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="panel-body" style="max-height: 400px; min-height: 400px; overflow-y: scroll;">
                <!-- tabs start -->
                <ul class="nav nav-tabs col-md-12">
                     <li class="active">
                        <a href="#tab-current" data-toggle="tab" class="">Current</a>
                     </li>
                     <li class="">
                        <a href="#tab-previous" data-toggle="tab" class="">Previous</a>
                     </li>
                     <li class="">
                        <a href="#tab-supervised" data-toggle="tab" class="">Supervised</a>
                     </li>
                </ul>
                <!-- tabs end -->
                <div class="tab-content col-md-12" style="padding-top: 10px">
                    <div id="tab-current" class="tab-pane active">
                        <div class="scroll-track" style="display: none;">
                            <div class="scroll-bar">
                            </div>
                        </div>
                        <div class="scroll-content">
                        {% for trip in trips_current %}
                            <div class="itemdiv commentdiv">
                                <div class="status">
                                    {% if trip.status == 'submitted' %}
                                        <img src="{{ STATIC_URL }}img/paper-tick.png" width="40px">
                                    {% elif trip.status ==  'approved' %}
                                        <img src="{{ STATIC_URL }}img/Paper-ticktick.png" width="40px">
                                    {% elif trip.status ==  'planned' %}
                                        <img src="{{ STATIC_URL }}img/Paper.png" width="40px">
                                    {% endif%}
                                </div>
                                <div class="body">
                                    <div class="name">
                                        <a href="{% url 'admin:trips_trip_change' trip.id %}">{{ trip.reference }}</a>
                                    </div>
                                    <div class="time">
                                        <i class="fa fa-clock-o"></i>
                                        {% if trip.trip_overdue %}
                                            <span class="red">{{ trip.from_date }}</span>
                                        {% else %}
                                            <span class="green">{{ trip.from_date }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="text">
                                        {{ trip.purpose_of_travel }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div id="tab-previous" class="tab-pane">
                        {% for trip in trips_previous %}
                            <div class="itemdiv commentdiv">
                                <div class="status">
                                    {% if trip.status == 'completed' %}
                                        <img src="{{ STATIC_URL }}img/Paper-done.png" width="40px">
                                    {% elif trip.status ==  'cancelled' %}
                                        <img src="{{ STATIC_URL }}img/Paper-X.png" width="40px">
                                    {% endif%}
                                </div>
                                <div class="body">
                                    <div class="name">
                                        <a href="{% url 'admin:trips_trip_change' trip.id %}">{{ trip.reference }}</a>
                                    </div>
                                    <div class="time">
                                        <i class="fa fa-clock-o"></i>
                                        {% if trip.trip_overdue %}
                                            <span class="red">{{ trip.from_date }}</span>
                                        {% else %}
                                            <span class="green">{{ trip.from_date }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="text">
                                        {{ trip.purpose_of_travel }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div id="tab-supervised" class="tab-pane">
                        {% for trip in trips_supervised %}
                            <div class="itemdiv commentdiv">
                                <div class="status">
                                    {% if trip.status == 'submitted' %}
                                        <img src="{{ STATIC_URL }}img/paper-tick.png" width="40px">
                                    {% elif trip.status ==  'approved' %}
                                        <img src="{{ STATIC_URL }}img/Paper-ticktick.png" width="40px">
                                    {% endif%}
                                </div>
                                <div class="body">
                                    <div class="name">
                                        <a href="{% url 'admin:trips_trip_change' trip.id %}">{{ trip.reference }}</a>
                                    </div>
                                    <div class="time">
                                        <i class="fa fa-clock-o"></i>
                                        {% if trip.trip_overdue %}
                                            <span class="red">{{ trip.from_date }}</span>
                                        {% else %}
                                            <span class="green">{{ trip.from_date }}</span>
                                        {% endif %}
                                        <div class="owner">{{ trip.owner }}</div>
                                    </div>
                                    <div class="text">
                                        {{ trip.purpose_of_travel }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- tabs content end -->
        </div>
        <!-- END TRIPS PANEL -->

        <div class="col-xs-1"></div>

    <!-- START ACTION POINT PANEL -->
        <div class="panel panel-warning col-md-5">
            <div class="panel-heading">
                 <h3 class="panel-title">
                     <i class="fa fa-list-ul"></i>&nbsp;
                     My Action Points
                 </h3>
                    <div class="actions pull-right">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
            </div>
            <div class="panel-body panel-scroll">
                <div class="list-group">
                    {% for ap in action_points %}
                    <div class="list-group-item">
                        <span class="">
                            <a class="" href="{% url 'admin:trips_trip_change' ap.trip.id %}#reporting">
                                {{ ap.description }}
                            </a>
                            <br>
                            <span class="text-muted small">
                                {{ ap.trip.owner }}
                            </span>
                         </span>
                        <span class="text-muted small pull-right">
                            <i class="fa fa-clock-o"></i>
                            <span class="green" style="font-size: 11px; font-weight: 700;">
                                {{ ap.due_date }}
                            </span>&nbsp;&nbsp;
                            {% if ap.traffic_color == 'green' %}
                                <span class="label label-success">{{ ap.status }}</span>
                            {% elif ap.traffic_color == 'yellow' %}
                                <span class="label label-warning">{{ ap.status }}</span>
                            {% elif ap.traffic_color == 'red' %}
                                <span class="label label-danger">{{ ap.status }}</span>
                            {% endif %}
                        </span>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <!-- END ACTION POINT PANEL -->
    </div>
    <div class="col-md-12">
        <!-- START LOG PANEL -->
        <div id="log-panel" class="col-md-5 panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-align-left"></i>&nbsp;
                    My Changes
                </h3>
                <div class="actions pull-right">
                    <i class="fa fa-chevron-down"></i>
                    <i class="fa fa-times"></i>
                </div>
            </div>
            <div class="panel-body" style="max-height: 400px; min-height: 400px; overflow-y: scroll;">
                <div id="timeline-2" class="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-11">
                            <div class="timeline-container timeline-style2">
                                <span class="timeline-label">
                                    <b>{{ l.action_time|date:"M d" }}</b>
                                </span>
                                <div class="timeline-items">
                                    {% for l in log %}

                                        <div class="timeline-item">
                                            <div class="timeline-info">
                                                {% ifchanged  l.action_time|date:"d M Y" %}
                                                    <span class="timeline-date"> <b>{{ l.action_time|date:"M d" }}</b> {{ l.action_time|time:"P" }}</span>
                                                {% else %}
                                                    <span class="timeline-date"> {{ l.action_time|time:"P" }}</span>
                                                {% endifchanged %}

                                                <i class="timeline-indicator btn-success"></i>
                                            </div>
                                            <div class="widget-box transparent">
                                                <div class="widget-body">
                                                    <div class="widget-main no-padding">
                                                        <span>
                                                            {% if l.content_type.model == 'pca' %}
                                                                <a href="{% url 'admin:partners_pca_change' l.object_id %}" class="bolder">{{ l.content_type.name }}</a>
                                                            {% elif  l.content_type.model == 'trip' %}
                                                                <a href="{% url 'admin:trips_trip_change' l.object_id %}" class="bolder">{{ l.content_type.name }}</a>
                                                            {% else %}
                                                                 <a href="#" class="bolder">{{ l.content_type.name }}</a>
                                                            {% endif %}
                                                            {{ l }}

                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div><!-- /.timeline-items -->
                            </div><!-- /.timeline-container -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END LOG PANEL -->

        <div class="col-xs-1"></div>

        <!-- START PCAs PANEL -->
        <div class="panel panel-info col-md-5">
            <div class="panel-heading">
                 <h3 class="panel-title">
                     <i class="fa fa-pencil"></i>&nbsp;
                     My Partnerships
                 </h3>
                    <div class="actions pull-right">
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="max-height: 400px; min-height: 400px; overflow-y: scroll;">
                <div class="list-group">
                    {% for pca in pcas %}
                         {% ifchanged pca.number %}
                            <a href="{% url 'admin:partners_pca_change' pca.id %}" class="list-group-item">
                                {{ pca.number }} - {{ pca.title }}
                                <span class="pull-right text-muted medium"><span class="label label-success">${{ pca.total_cash|intcomma }}</span>
                                </span>
                            </a>
                         {% else %}
                                <a href="{% url 'admin:partners_pca_change' pca.id %}" class="list-group-item">
                                {{ pca.number }} - {{ pca.title }} {% if pca.amendment_number == 0 %} Original {% else %} Amendment {{ pca.amendment_number }} {% endif %}
                         {% endifchanged %}
                    {% endfor %}
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- END PCAs PANEL -->
    </div>

    </section>
</section>

{% endblock content %}


