{% extends "base.html" %}
{% load i18n %}

{% block body %}

    <section id="error-container">

        <div class="block-error">

            <p class="text-center">Your workspace has been removed.</p>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-primary btn-block btn-3d" href="https://etools-staging.unicef.org/">Go to Staging environment</a>
                </div>
            </div>
        </div>

    </section>

{% endblock %}
