{% load i18n admin_static admin_modify %}

    <h3>HACT assurance plan overview</h3>
    <div id="assurance_table">
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">Cash transfers</th>
                <th>Risk</th>
                <th>Programmatic monitoring visits</th>
                <th>Spot-Checks</th>
                <th>Audit</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <u>$ cash transferred (current year)</u>
                        <br/>$ planned cash transfers (current year)
                    </td>
                    <td>Total cash transfers (current CP cycle)</td>
                    <td>
                        <u>Risk rating</u>
                        <br/>Type of assessment
                    </td>
                    <td>
                        <u>Done</u>
                        <br/>Minimum Requirements
                    </td>
                    <td>
                        <u>Done</u>
                        <br/>Minimum Requirements
                    </td>
                    <td>
                        <u>Done</u>
                        <br/>Required
                    </td>
                </tr>
                {% with reqs=original.hact_min_requirements %}
                <tr>
                    <td>
                        <u>{{ original.total_ct_cy }}</u>
                        <br/>{{ original.hact_values.planned_cash_transfer }}
                    </td>
                    <td>{{ original.total_ct_cp }}</td>
                    <td>
                        <u>{{ original.rating }}</u>
                        <br/>{{ original.type_of_assessment }}
                    </td>
                    <td>
                        <u>{{ original.hact_values.programmatic_visits }}</u>
                        <br/>{{ reqs.programme_visits }}
                    </td>
                    <td>
                        <u>{{ original.hact_values.spot_checks }}</u>
                        <br/>{{ reqs.spot_checks }}
                    </td>
                    <td>
                        <u>{{ original.hact_values.audits_done }}</u>
                        <br/>{{ original.hact_values.audits_mr }}
                    </td>
                </tr>
                {% endwith %}
            </tbody>
        </table>

{#                <table class="table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Intervention</th>#}
{#                <th colspan="2">Cash transfers</th>#}
{#                <th>Programmatic monitoring visits</th>#}
{#                <th>Spot-Checks</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for intervention in original.documents.all %}#}
{#                    <tr>#}
{#                        <td>{{ intervention.reference_number }}</td>#}
{#                        <td>#}
{#                            <u>{{ intervention.actual_cash_transferred }}</u>#}
{#                            <br/>{{ intervention.planned_cash_transfers }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ intervention.total_cash_transferred }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ intervention.programmatic_visits }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ intervention.spot_checks }}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}

    </div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#assurance_table table').addClass("table table-striped table-hover");
    });
</script>