{% extends "audit/engagement_pdf.html" %}
{% load etools %}

{% block extra_content %}
  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">Summary of Engagement Findings</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td colspan="2"></td>
          <td colspan="2">Local Currency</td>
          <td colspan="2">USD</td>
        </tr>
        <tr>
          <td colspan="2">Value of Selected FACE</td>
          <td colspan="2">{{ engagement.total_value_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.total_value|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Total Amount Tested</td>
          <td colspan="2">{{ engagement.total_amount_tested_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.total_amount_tested|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Total Amount of Ineligible Expenditure</td>
          <td colspan="2">{{ engagement.total_amount_of_ineligible_expenditure_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.total_amount_of_ineligible_expenditure|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">% of audited Expenditure</td>
          <td colspan="4">{{ engagement.percent_of_audited_expenditure }}</td>
        </tr>
      </table>
    </div>
  </div>

  <pdf:nextpage></pdf:nextpage>

  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">Report Financial Findings</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td colspan="2">Title (Category)</td>
          <td colspan="4">Description</td>
          <td colspan="2">Amount Local</td>
          <td colspan="2">Amount USD</td>
        </tr>
        {% for ff in engagement.financial_finding_set %}
          <tr>
            <td colspan="2">{{ ff.title|default:"-" }}</td>
            <td colspan="4">{{ ff.description|default:"-" }}</td>
            <td colspan="2">{{ ff.local_amount|default:"0.00"|currency }}</td>
            <td colspan="2">{{ ff.amount|default:"0.00"|currency }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="content-section">
    <div class="content-section__header content-section__header--orange">
      <div class="content-section__header__title">Summary of High Priority Findings and Recommendations</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td>Finding Number</td>
          <td colspan="3">{{ serializer.fields.findings.child.fields.category_of_observation.label }}</td>
          <td colspan="2">{{ serializer.fields.findings.child.fields.deadline_of_action.label }}</td>
          <td colspan="4">{{ serializer.fields.findings.child.fields.recommendation.label }}</td>
          <td colspan="4">{{ serializer.fields.findings.child.fields.agreed_action_by_ip.label }}</td>
        </tr>
        {% for finding in engagement.high_priority_findings %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td colspan="3">{{ finding.category_of_observation }}</td>
            <td colspan="2">{{ finding.deadline_of_action }}</td>
            <td colspan="4">{{ finding.recommendation }}</td>
            <td colspan="4">{{ finding.agreed_action_by_ip }}</td>
          </tr>
        {% empty %}
          <tr>
            <td>-</td>
            <td colspan="3">-</td>
            <td colspan="2">-</td>
            <td colspan="4">-</td>
            <td colspan="4">-</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">Summary of Low Priority Findings and Recommendations</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td>Finding Number</td>
          <td colspan="3">{{ serializer.fields.findings.child.fields.category_of_observation.label }}</td>
          <td colspan="2">{{ serializer.fields.findings.child.fields.deadline_of_action.label }}</td>
          <td colspan="4">{{ serializer.fields.findings.child.fields.recommendation.label }}</td>
          <td colspan="4">{{ serializer.fields.findings.child.fields.agreed_action_by_ip.label }}</td>
        </tr>
        {% for finding in engagement.low_priority_findings %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td colspan="3">{{ finding.category_of_observation }}</td>
            <td colspan="2">{{ finding.deadline_of_action }}</td>
            <td colspan="4">{{ finding.recommendation }}</td>
            <td colspan="4">{{ finding.agreed_action_by_ip }}</td>
          </tr>
        {% empty %}
          <tr>
            <td>-</td>
            <td colspan="3">-</td>
            <td colspan="2">-</td>
            <td colspan="4">-</td>
            <td colspan="4">-</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">{{ serializer.fields.internal_controls.label }}</div>
    </div>
    <table class="content-section__wrapper">
      <tr>
        <td class="input-container">
          <div class="internal-control-message">
            Inquire of IP management whether there have been any changes to internal controls since the prior micro
            assessment from the current programme cycle. <br/>
            Inquire whether the high priority recommendations from the micro assessment and previous assurance activities
            have been implemented. Document any changes identified
          </div>
        </td>
      </tr>
      <tr>
        <td class="input-container">
          <div class="input-container__label">Document any changes identified</div>
          <div class="input-container__value">
            {{ engagement.internal_controls|default:"-" }}</div>
        </td>
      </tr>
    </table>
  </div>

  <pdf:nextpage></pdf:nextpage>

  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">Follow-Up Financial Findings</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td colspan="2"></td>
          <td colspan="2">Local Currency</td>
          <td colspan="2">USD</td>
        </tr>
        <tr>
          <td colspan="2">Amount Audited</td>
          <td colspan="2">{{ engagement.total_amount_tested_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.total_amount_tested|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Total Amount of Ineligible Expenditure</td>
          <td colspan="2">{{ engagement.total_amount_of_ineligible_expenditure_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.total_amount_of_ineligible_expenditure|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Amount Refunded</td>
          <td colspan="2">{{ engagement.amount_refunded_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.amount_refunded|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Additional Supporting Documentation Provided</td>
          <td colspan="2">{{ engagement.additional_supporting_documentation_provided_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.additional_supporting_documentation_provided|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Justification Provided and Accepted</td>
          <td colspan="2">{{ engagement.justification_provided_and_accepted_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.justification_provided_and_accepted|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Impairment</td>
          <td colspan="2">{{ engagement.write_off_required_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.write_off_required|default:"0.00"|currency }}</td>
        </tr>
        <tr>
          <td colspan="2">Pending Unsupported Amount</td>
          <td colspan="2">{{ engagement.pending_unsupported_amount_local|default:"0.00"|currency }}</td>
          <td colspan="2">{{ engagement.pending_unsupported_amount|default:"0.00"|currency }}</td>
        </tr>
      <tr>
        <td class="input-container" colspan="3">
          <div class="input-container__label">{{ serializer.fields.explanation_for_additional_information.label }}</div>
          <div class="input-container__value">
            {{ engagement.explanation_for_additional_information|default:"-" }}</div>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}