{% extends "login_base.html" %}

{% block content %}
<div class="errorContent">

    <header>
        <h1 class="error primary-txt">Country workspace not found on user</h1>
    </header>

    <h3> Hi {{ user }}, </h3>
    <p>

    <div class="bottom title">Country workspace not found on user</div>

    Your user profile does not have a country workspace associated with it.
    <br>
    Please contact the eTools focal point within your organization to help you gain access.
    </p>
    <a class="btn btn-primary btn-block btn-3d" href="https://etools-staging.unicef.org/">Go to Staging environment</a>
    <br>
    <h3>Please <a href="{% url 'logout' %}">Log Out</a> to reflect any updates in the future</h3>
</div>
{% endblock content %}

