#!/bin/bash

NAME="{{project_name}}_app"                         # Name of the application
DJANGODIR={{project_root}}/src                      # Django project directory
USER={{project_name}}                               # the user to run as
GROUP={{project_name}}                              # the group to run as
NUM_WORKERS=3                                       # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE={{project_name}}.settings    # which settings file should Django use
DJANGO_WSGI_MODULE={{project_name}}.wsgi            # WSGI module name
DJANGO_STATIC_ROOT={{project_root}}/static          # custom location for django static files

echo "Starting $NAME"

# Activate the virtual environment
cd $DJANGODIR
source {{project_root}}/venv/bin/activate
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH
export WERCKER_POSTGRESQL_URL={{database_url}}
export DJANGO_DEBUG="False"
export DJANGO_ALLOWED_HOST={{hostname}}

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec {{project_root}}/venv/bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user=$USER --group=$GROUP \
  --log-level=debug \
  --bind=unix:/tmp/{{project_name}}.gunicorn.sock \
  --access-logfile={{project_root}}/run/gunicorn.access.log \
  --access-logfile={{project_root}}/run/gunicorn.error.log