upstream {{project_name}}_app_server {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response (in case the Unicorn master nukes a
  # single worker for timing out).

  server unix:/tmp/{{project_name}}.gunicorn.sock fail_timeout=0;
}

server {

    listen   80 default_server;
    server_name _;

    client_max_body_size 4G;
    large_client_header_buffers 4 16k;

    access_log /var/log/nginx/{{project_name}}-access.log;
    error_log /var/log/nginx/{{project_name}}-error.log;

    tcp_nopush on; # off may be better for *some* Comet/long-poll stuff
    tcp_nodelay off; # on may be better for some Comet/long-poll stuff

    # we haven't checked to see if Rack::Deflate on the app server is
    # faster or not than doing compression via nginx.  It's easier
    # to configure it all in one place here for static files and also
    # to disable gzip for clients who don't get gzip/deflate right.
    # There are other other gzip settings that may be needed used to deal with
    # bad clients out there, see http://wiki.nginx.org/NginxHttpGzipModule
    gzip on;
    gzip_http_version 1.0;
    gzip_proxied any;
    gzip_min_length 500;
    gzip_disable "MSIE [1-6]\.";
    gzip_types text/plain text/html text/xml text/css
             text/comma-separated-values
             text/javascript application/x-javascript
             application/atom+xml;

    location /static/ {
        alias   {{project_root}}/static/;
    }

    location /media/ {
        alias   {{project_root}}/media/;
    }

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://{{project_name}}_app_server;
    }

    location ~* /favicon.ico {
        root {{project_root}}/static;
    }

    location ~* /crossdomain.xml {
        root {{project_root}}/static;
    }

    location ~* /robots.txt {
        root {{project_root}}/static;
    }

    # Error pages
    error_page 500 502 503 504 /500.html;
    location = /500.html {
        root {{project_root}}/static/;
    }

}