{% extends "base_polymer.html" %}


{% block extra_head %}

<style>
    a.flex4child {
      display: block;
      margin: auto;
      min-width: 180px;
      max-width: 30%;
    }
    paper-card.unicefblue {
      background-color: #0099ff;
    }
    paper-material.login{
        background-color: #0099ff;
        color: #ffffff;
    }
    .container{
      margin-top: 20px;
    }

  </style>


 {% endblock %}
{% block toolbar %}
        <paper-toolbar class="medium-tall">
          <iron-image src="/static/images/unicefetools.svg" style="width:200px; max-width:80%; height:70%;"  preload sizing="contain"></iron-image>
          <div class="bottom title">Choose your login</div>
        </paper-toolbar>
{% endblock toolbar %}

{% block content %}
<section id="container" class="layout wrap center-justified horizontal container">
            <a class="flex4child" href="{% url 'account_login' %}">
            <paper-card  onmouseover="this.elevation=5" onmouseout="this.elevation=1" image="/static/images/partners.svg">
            </paper-card>
            </a>

            <a class="flex4child" href="{% url 'saml2_login' %}">
            <paper-card animatedShadow="true" onmouseover="this.elevation=5" onmouseout="this.elevation=1" class="flex6child unicefblue" image="/static/images/staff.svg">
            </paper-card>
            </a>
</section>          
{% endblock content %}