{% extends "easy_pdf/base.html" %}
{% load i18n humanize etools %}

{% block style_base %}
  {% comment %}
        See DEFAULT_CSS in https://github.com/chrisglass/xhtml2pdf/blob/master/xhtml2pdf/default.py
        for base style.
    {% endcomment %}

  {% block layout_style %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            font-size:9pt;
            font-family: "Times_New_Roman";
        }
        @page {
            size: "landscape";
            margin-left: 2.0cm;
            margin-right: 2.0cm;
            margin-top: 2.4cm;
            margin-bottom: 1.8cm;
            @frame header {
                -pdf-frame-content: header_content;
                margin-top: 1cm;
                margin-right: 2.0cm;
                margin-bottom: 0.3cm;
                padding-bottom: 3cm;
                margin-left: 0cm;
                background-color: #0099ff;
                height: 2cm;
            }
            @frame footer_frame {
                /* Static frame */
                -pdf-frame-content:footer_content;
                right: 50pt; width: 50pt; bottom: 10pt; height: 20pt;
            }
        }

        /*https://github.com/xhtml2pdf/xhtml2pdf/issues/129*/
        /*times new roman*/
        @font-face {
            font-family: "Times_New_Roman";
            src: url("{{font_path}}times_new_roman/Times_New_Roman.ttf");
        }
        @font-face {
            font-family: "Times_New_Roman_Italic";
            src: url("{{font_path}}times_new_roman/Times_New_Roman_Italic.ttf");
        }
        @font-face {
            font-family: "Times_New_Roman_Bold";
            src: url("{{font_path}}times_new_roman/Times_New_Roman_Bold.ttf");
        }
        @font-face {
            font-family: "Times_New_Roman_Bold_Italic";
            src: url("{{font_path}}times_new_roman/Times_New_Roman_Bold_Italic.ttf");
        }
    </style>
  {% endblock %}
  {% block extra_style %}
    <style type="text/css">
        <!--
          {#body {padding: 40pt}#}
          table { width: 100%; border-spacing: 0;line-height: 140%;}
          .just-border, .bordered { border: 2pt solid #A0A0A0; }
          table.bordered td { border-bottom: 2pt solid #A0A0A0; }
          table.bordered {border-bottom: none;}
          .no-border {border: none !important;}
          table.no-border td {border: none;}
          table.all-cells-border {
            border-top: 2pt solid #A0A0A0;
            border-left: 2pt solid #A0A0A0;
          }
          .all-cells-border td {
            border-bottom: 2pt solid #A0A0A0;
            border-right: 2pt solid #A0A0A0;
          }
          .small-text {
              font-size:7pt;
          }
          td {
            word-break: break-all;
            {#weird paddings fix#}
            margin-left: 5pt;
            padding-top: 2pt;
          }
          tr.bordered td { border-bottom: 2pt solid #A0A0A0;}
          .p-0 {padding: 0 !important}
          .mt-20 {margin-top: 20pt}
          .mb-5 {margin-bottom: 5pt}
          .w-p4 {width: 4%;}
          .w-p5 {width: 5%;}
          .w-p8 {width: 8%;}
          .w-p10 {width: 10%;}
          .w-p12 {width: 12.5%;}
          .w-p13 {width: 13%;}
          .w-p15 {width: 15%;}
          .w-p20 {width: 20%}
          .w-p22 {width: 22%}
          .w-p25 {width: 25%}
          .w-p30 {width: 30%}
          .w-p39 {width: 39%}
          .w-p40 {width: 40%}
          .w-p50 {width: 50%;}
          .w-p62 {width: 62.5%;}
          .w-100 {width: 100%;}
          .bold {font-weight: bold;}
          .b-gray {background-color: #E8E8E8;}
          .b-navy {background-color: #002060; color: #ffffff}
          .b-yellow {background-color: #FFE599;}
          .b-blue {background-color: #BDD6EE;}
          .p-b-20 {padding-bottom:20pt;}
          table.padded-bottom td{padding-bottom:20pt;}
          {#table.padded-top td{padding-top:20pt;}#}
          {#table.padded-left td{padding-left:20pt;}#}
          {#table.padded-right td{padding-right:20pt;}#}
          {#.risk-title {margin-block-start: 0.2rem; font-weight: bold;}#}
        -->
    </style>
  {% endblock %}
{% endblock %}

{% block content %}
  {% if error %}
    {% translate "PDF could not be generated properly" %}: <br> {{ error }}
  {% else %}
    <div id="content">
      <table class="all-cells-border">
        <tbody>
        <tr>
          <td class="b-gray w-p20">{% translate "eTools ref no" %}</td>
          <td>{{ pd.number }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Document Type" %}</td>
          <td>{{ pd.get_document_type_display }}{% if pd.humanitarian_flag %} (Humanitarian){% endif %} {% if pd.contingency_pd %} (Contingency){% endif %}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "UNICEF Office" %}</td>
          <td>{{ pd_offices|join:", " }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Organization Name" %}</td>
          <td>{{ pd.agreement.partner.name }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Programme Title" %}</td>
          <td>{{ pd.title }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Planned duration" %}</td>
          <td>
            <span>{% translate "Start date" %}: {{ pd.start }}</span><br>
            <span>{% translate "End date" %}: {{ pd.end }}</span>
          </td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Geographical coverage" %}</td>
          <td>{{ pd_locations|join:", " }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Budget" %}</td>
          <td>
            <table class="no-border">
              <tr class="">
                <td class="w-p12">{% translate "UNICEF Cash" %}:</td>
                <td class="w-p12">{{ pd.planned_budget.unicef_cash_local | currency }}</td>
                <td class="w-p12">{% translate "Supplies" %}:</td>
                <td class="w-p12">{{ pd.planned_budget.in_kind_amount_local | currency}}</td>
                <td class="w-p12">{% translate "Capacity Strengthening Costs" %}:</td>
                <td class="w-p12">{{ pd.planned_budget.total_hq_cash_local | currency }}</td>
                <td class="w-p12">{% translate "Total" %}:</td>
                <td class="w-p12">{{ pd.planned_budget.total_unicef_contribution_local | currency }}</td>
              </tr>
              <tr>
                <td>{% translate "Partner Cash" %}:</td>
                <td>{{ pd.planned_budget.partner_contribution_local | currency }}</td>
                <td>{% translate "Supplies:" %}</td>
                <td colspan="3">{{ pd.planned_budget.partner_supply_local | currency }}</td>
                <td>{% translate "Total:" %}</td>
                <td>{{ pd.planned_budget.total_partner_contribution_local | currency }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="b-gray w-p20">Total</td>
          <td>
            <table class="no-border">
              <tr>
                <td class="w-p12">{% translate "Currency" %}:</td>
                <td class="w-p62">{{ pd.planned_budget.currency }}</td>
                <td class="w-p12">{% translate "Total" %}:</td>
                <td class="w-p12">{{ pd.planned_budget.total_local | currency }}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tbody>
      </table>

      <table class="bordered mt-20">
        <tbody>
        <tr>
          <td class="b-navy">{% translate "Strategy" %}</td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Context" %}:</span> {{ pd.context|escape|linebreaks }}</td>
        </tr>
        <tr>
          <td class=""><span
              class="bold">{% translate "Implementation Strategy & Technical Guidance" %}:</span> {{ pd.implementation_strategy|escape|linebreaks }}
          </td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Capacity Development" %}:</span> {{ pd.capacity_development|escape|linebreaks }}</td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Other Partners involved" %}:</span> {{ pd.other_partners_involved|escape|linebreaks }}</td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Other Document Details" %}:</span> {{ pd.other_details|escape|linebreaks }}</td>
        </tr>
        <tr>
            <td class=""><span class="bold">{% translate "Data Processing Agreement" %}:</span> {% if pd.has_data_processing_agreement %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
        </tr>
        <tr>
            <td class=""><span class="bold">{% translate "Activities involving children and young people" %}:</span> {% if pd.has_activities_involving_children %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
        </tr>
        <tr>
            <td class=""><span class="bold">{% translate "Special Conditions for Construction Works by Implementing Partners" %}:</span> {% if pd.has_special_conditions_for_construction %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Gender Rating" %}:</span>{{ pd.get_gender_rating_display }} <br>
            {{ pd.gender_narrative|escape|linebreaks }}
          </td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Equity Rating" %}:</span> {{ pd.get_equity_rating_display }} <br>
            {{ pd.equity_narrative|escape|linebreaks }}
          </td>
        </tr>
        <tr>
          <td class=""><span class="bold">{% translate "Sustainability Rating" %}:</span> {{ pd.get_sustainability_rating_display }} <br>
            {{ pd.sustainability_narrative|escape|linebreaks }}
          </td>
        </tr>
        <tr>
          <td class="">
            <span class="bold">{% translate "Risk & Proposed Mitigation Measures" %}:</span><br/>
            {% for risk in pd.risks.all %}
              <span class="">{{ risk.get_risk_type_display }}: {{ risk.mitigation_measures }}</span><br/>
            {% endfor %}
          </td>
        </tr>
        <tbody>
      </table>

      <pdf:nextpage />
      <table class="all-cells-border mt-20">
        <tbody>
          <tr>
            <td colspan="6" class="b-navy">{% translate "Workplan Result" %}</td>
          </tr>
          <tr>
            <td class="b-gray w-p30">{% translate "Result statement" %}</td>
            <td class="b-gray w-p30">{% translate "Performance indicator/s" %}</td>
            <td class="b-gray w-p20">{% translate "Location" %}</td>
            <td class="b-gray w-p5">{% translate "Baseline" %}</td>
            <td class="b-gray w-p5">{% translate "Target" %}</td>
            <td class="b-gray w-p10">{% translate "Means of Verification" %}</td>
          </tr>
          {% for result_link in pd.result_links.all %}
            <tr>
              <td class="b-yellow w-p30">{{ result_link.cp_output.name }}</td>
              <td class="b-yellow w-p30">
                {% for indicator in result_link.ram_indicators.all %}
                  <span>{{ indicator.name }}</span><br/>
                {% endfor %}
              </td>
              <td class="b-gray w-p20"></td>
              <td class="b-gray w-p5"></td>
              <td class="b-gray w-p5"></td>
              <td class="b-gray w-p10"></td>
            </tr>
            {% for pd_output in result_link.ll_results.all %}
            <tr>
            <td class="w-p30">{{ pd_output.name }}</td>
              {% for indicator in pd_output.applied_indicators.all %}
                    {%  if not forloop.first %}
                        <td><span> </span></td>
                    {% endif %}
                      <td class="w-p30">{% if not indicator.is_active %} ({% translate 'Inactive' %}){% endif %} {{ indicator.indicator.title }}</td>
                      <td class="w-p20">
                        {% for location in indicator.locations.all %}
                          <span class="small-text">{{ location.name }}{%  if not forloop.last %}, {% endif %}
                          </span>
                        {% endfor %}
                      </td>
                      <td class="w-p5">{{ indicator.baseline_display_string }}</td>
                      <td class="w-p5">{{ indicator.target_display_string }}</td>
                      <td class="w-p10">{{ indicator.means_of_verification }}</td>
                  </tr>

              {% empty %}
                  <td class="w-p30"></td>
                  <td class="w-p20"></td>
                  <td class="w-p5"></td>
                  <td class="w-p5"></td>
                  <td class="w-p10"></td>

              {% endfor %}
             </tr>
            {% endfor %}
          {% endfor %}
        <tbody>
      </table>

      <table class="all-cells-border mt-20">
        <tbody>
          <tr>
            <td colspan="6" class="b-navy">{% translate "Workplan Budget" %}</td>
          </tr>
          <tr>
            <td class="b-gray w-p10">{% translate "Result Level" %}</td>
            <td class="b-gray w-p40">{% translate "Result/activity" %}</td>
            <td class="b-gray w-p20">{% translate "Timeframe" %}</td>
            <td class="b-gray w-p10">{% translate "Total (CSO + UNICEF)" %}[{{ pd.planned_budget.currency }}]</td>
            <td class="b-gray w-p10">{% translate "CSO contribution" %}</td>
            <td class="b-gray w-p10">{% translate "UNICEF contribution" %}</td>
          </tr>
          {% for result_link in pd.result_links.all %}
            {% for ll_result in result_link.ll_results.all %}
              <tr>
                <td class="b-yellow">{% translate "Prog. Output" %}</td>
                <td class="b-yellow" colspan="2">
                  {{ result_link.cp_output.name }}
                  <br>
                  {{ ll_result.name }}
                </td>
                <td class="b-yellow">{{ ll_result.total | currency }}</td>
                <td class="b-yellow">{{ ll_result.total_cso | currency }}</td>
                <td class="b-yellow">{{ ll_result.total_unicef | currency }}</td>
              </tr>
              {% for activity in ll_result.activities.all %}
                <tr>
                  <td>Activity</td>
                  <td>{% if not activity.is_active %} ({% translate 'Inactive' %}) {% endif %}{{ activity.name }}</td>
                  <td>{{ activity.get_time_frames_display }}</td>
                  <td>{{ activity.cso_cash|add:activity.unicef_cash | currency }}</td>
                  <td>{{ activity.cso_cash | currency }}</td>
                  <td>{{ activity.unicef_cash | currency }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          {% endfor %}
          <tr>
            <td class="b-yellow">{% translate "Prog. Output" %}</td>
            <td colspan="2" class="b-yellow">{% translate "Effective and efficient programme management" %}</td>
            <td class="b-yellow">{{ pd.management_budgets.total | currency }}</td>
            <td class="b-yellow">{{ pd.management_budgets.partner_total | currency }}</td>
            <td class="b-yellow">{{ pd.management_budgets.unicef_total | currency }}</td>
          </tr>
          <tr>
            <td class="b-gray">{% translate "Activity" %}</td>
            <td colspan="2">{% translate "In-country management & support" %}</td>
            <td>{{ pd.management_budgets.act1_unicef|add:pd.management_budgets.act1_partner }}</td>
            <td>{{ pd.management_budgets.act1_partner }}</td>
            <td>{{ pd.management_budgets.act1_unicef }}</td>
          </tr>
          <tr>
            <td class="b-gray">{% translate "Activity" %}</td>
            <td colspan="2">{% translate "Operational costs" %}</td>
            <td>{{ pd.management_budgets.act2_unicef|add:pd.management_budgets.act2_partner | currency }}</td>
            <td>{{ pd.management_budgets.act2_partner | currency }}</td>
            <td>{{ pd.management_budgets.act2_unicef | currency }}</td>
          </tr>
          <tr>
            <td class="b-gray">{% translate "Activity" %}</td>
            <td colspan="2">{% translate "Planning, monitoring, evaluation, and communication" %}</td>
            <td>{{ pd.management_budgets.act3_unicef|add:pd.management_budgets.act3_partner | currency }}</td>
            <td>{{ pd.management_budgets.act3_partner | currency }}</td>
            <td>{{ pd.management_budgets.act3_unicef | currency }}</td>
          </tr>
          <tr>
           <td colspan="3" class="b-blue">{% translate "Sub-total for programme costs" %}</td>
            <td class="b-blue">{{ pd.planned_budget.total_unicef_cash_local_wo_hq|add:pd.planned_budget.partner_contribution_local | currency }}</td>
            <td class="b-blue">{{ pd.planned_budget.partner_contribution_local | currency }}</td>
            <td class="b-blue">{{ pd.planned_budget.total_unicef_cash_local_wo_hq | currency }}</td>
          </tr>
          <tr>
            <td colspan="3" class="b-blue">{% translate "Capacity Strengthening Costs" %}</td>
            <td class="b-blue">{{ pd.planned_budget.total_hq_cash_local | currency }}</td>
            <td class="b-blue"></td>
            <td class="b-blue">{{ pd.planned_budget.total_hq_cash_local | currency }}</td>
          </tr>
          <tr>
           <td colspan="3" class="b-blue">{% translate "Total Cash budget" %}</td>
            <td class="b-blue">{{ pd.planned_budget.total_cash_local | currency }}</td>
            <td class="b-blue">{{ pd.planned_budget.partner_contribution_local | currency }}</td>
            <td class="b-blue">{{ pd.planned_budget.unicef_cash_local | currency }}</td>
          </tr>
        <tbody>
      </table>

      <table class="all-cells-border mt-20">
        <tbody>
        <tr>
          <td colspan="5" class="b-navy">{% translate "Supply Contribution Plan" %}</td>
        </tr>
        <tr>
          <td class="bold w-p15">{% translate "Provided by" %}</td>
          <td class="bold w-p40">{% translate "Item" %}</td>
          <td class="bold w-p15">{% translate "No. of units" %}</td>
          <td class="bold w-p15">{% translate "Price/unit" %}</td>
          <td class="bold w-p15">{% translate "Total Price" %}</td>
        </tr>
        {% for supply_item in pd.supply_items.all %}
          <tr>
            <td>{{ supply_item.get_provided_by_display }}</td>
            <td>{{ supply_item.title }}</td>
            <td>{{ supply_item.unit_number }}</td>
            <td>{{ supply_item.unit_price | currency }}</td>
            <td>{{ supply_item.total_price | currency }}</td>
          </tr>
        {% endfor %}
        <tr>
          <td class="b-blue" colspan="4">{% translate "Total supply Cost" %}</td>
          <td class="b-blue">{{ pd.planned_budget.in_kind_amount_local|add:pd.planned_budget.partner_supply_local | currency }}</td>
        </tr>
        <tbody>
      </table>

      <table class="bordered mt-20">
        <tbody>
        <tr>
          <td colspan="2" class="b-navy">{% translate "Others" %}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Partner non-financial contribution" %}</td>
          <td>{{ pd.ip_program_contribution|escape|linebreaks }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Cash Transfer modality" %}</td>
          <td>{{ pd.get_cash_transfer_modalities_display }}</td>
        </tr>
        <tr>
          <td class="b-gray w-p20">{% translate "Activation Protocol" %}</td>
          <td>{{ pd.activation_protocol }}</td>
        </tr>
        <tbody>
      </table>

      <table class="just-border mt-20">
        <tbody>
          <tr>
            <td colspan="2" class="b-navy">{% translate "Signatures and date" %}</td>
          </tr>
          <tr>
            <td>
              <span>{% translate "CSO Authorized Officer" %}:</span><br/>
              <span>{% translate "Signature" %}:</span><br/>
              <span>{% translate "Date" %}:</span>
            </td>
            <td>
              <span>{% translate "UNICEF Authorized Officer" %}:</span><br/>
              <span>{% translate "Signature" %}:</span><br/>
              <span>{% translate "Date" %}:</span>
            </td>
          </tr>
        <tbody>
      </table>

      <table class="just-border mt-20">
        <tbody>
          <tr>
            <td colspan="4" class="b-navy">{% translate "Signatures and date" %}</td>
          </tr>
          <tr>
            <td class="bold w-p20">{% translate "Date Uploaded" %}</td>
            <td class="bold w-p30">{% translate "Document Type" %}</td>
            <td class="bold w-p40">{% translate "Document" %}</td>
            <td class="bold w-p10">{% translate "Invalid" %}</td>
          </tr>
          {% for attachment in pd.attachments.all %}
            <tr>
              <td>{{ attachment.created }}</td>
              <td>{{ attachment.type.get_name_display }}</td>
              <td>{% if attachment.attachment_file.last %}{{ domain }}{{ attachment.attachment_file.last.file_link }}{% else %}{{ attachment.attachment.url }}{% endif %}</td>
              <td>{% if not attachment.active %}{% translate "Yes" %}{% else %}{% translate "No" %}{% endif %}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
    <div id="footer_content" style="text-align: right">
      <pdf:pagenumber/>
    </div>
  {% endif %}
{% endblock %}
