{% extends "base.html" %}

{% block body %}

    <section id="error-container">

        <div class="block-error">

            <h1 class="text-center">Email sent</h1>

            <p class="text-center">Email with password reset instructions has been sent.</p>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-info btn-block btn-3d" href="{% url 'dashboard' %}">Sign In</a>
                </div>
            </div>
        </div>

    </section>

{% endblock %}

