{% extends "base.html" %}

{% block body %}
<body class="animated fadeIn">
    <section id="login-container">

        <div class="row">
            <div class="col-md-3" id="login-wrapper">
                <div class="panel panel-primary animated flipInY">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                           etools | Register
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Please provide your details to register</p>
                        <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="{{ form.username.name }}"
                                           id="{{ form.username.id_for_label }}"
                                           placeholder="{{ form.username.label }}">
                                    {% for error in form.username.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email"
                                           class="form-control"
                                           name="{{ form.email.name }}"
                                           id="{{ form.email.id_for_label }}"
                                           placeholder="{{ form.email.label }}">
                                    {% for error in form.email.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="{{ form.first_name.name }}"
                                           id="{{ form.first_name.id_for_label }}"
                                           placeholder="{{ form.first_name.label }}">
                                    {% for error in form.first_name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="{{ form.last_name.name }}"
                                           id="{{ form.last_name.id_for_label }}"
                                           placeholder="{{ form.last_name.label }}">
                                    {% for error in form.last_name.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                    <input type="password"
                                           class="form-control"
                                           name="{{ form.password1.name }}"
                                           id="{{ form.password1.id_for_label }}"
                                           placeholder="{{ form.password1.label }}">
                                    {% for error in form.password1.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                    <input type="password"
                                           class="form-control"
                                           name="{{ form.password2.name }}"
                                           id="{{ form.password2.id_for_label }}"
                                           placeholder="{{ form.password2.label }}">
                                    {% for error in form.password2.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                        {{ form.country }}
                                    {% for error in form.country.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                        {{ form.section }}
                                    {% for error in form.section.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="{{ form.job_title.name }}"
                                           id="{{ form.job_title.id_for_label }}"
                                           placeholder="{{ form.job_title.label }}">
                                    {% for error in form.job_title.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text"
                                           class="form-control"
                                           name="{{ form.phone_number.name }}"
                                           id="{{ form.phone_number.id_for_label }}"
                                           placeholder="{{ form.phone_number.label }}">
                                    {% for error in form.phone_number.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                               <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Register"/>
                                    <hr />
                                    <a href="{% url "login" %}" class="btn btn-default btn-block">Sign In</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
{% endblock %}
