{% extends "admin/django_tenants/tenant/change_form.html" %}
{% load i18n etools %}
{% block object-tools-items %}
    {{ block.super }}
    <li><a target='_blank' href="{% vision_url %}GetPartnerDetailsInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Partner" %}</a></li>
    <li><a target='_blank' href="{% vision_url %}GetProgrammeStructureList_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Programme" %}</a></li>
    <li><a target='_blank' href="{% vision_url %}GetRAMInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API RAM" %}</a></li>
    <li><a target='_blank' href="{% vision_url %}GetFundsReservationInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Fund Reservation" %}</a></li>
    <li><a target='_blank' href="{% vision_url %}GetFundsCommitmentInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Fund Commitment" %}</a></li>
    <li><a target='_blank' href="{% vision_url %}GetDCTInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API DCT" %}</a></li>

    <li><a href="{% url 'admin:users_country_partners' original.id %}" style="background-color:#0099ff">{% trans "Sync Partners" %}</a></li>
    <li><a href="{% url 'admin:users_country_programme' original.id %}" style="background-color:#0099ff">{% trans "Sync Programme" %}</a></li>
    <li><a href="{% url 'admin:users_country_ram' original.id %}" style="background-color:#0099ff">{% trans "Sync RAM" %}</a></li>
    <li><a href="{% url 'admin:users_country_fund_reservation' original.id %}" style="background-color:#0099ff">{% trans "Sync Fund Reservation" %}</a></li>
    <li><a href="{% url 'admin:users_country_fund_commitment' original.id %}" style="background-color:#0099ff">{% trans "Sync Fund Commitment" %}</a></li>
    <li><a href="{% url 'admin:users_country_dct' original.id %}" style="background-color:#0099ff">{% trans "Sync DCT" %}</a></li>
    <li><a href="{% url 'admin:users_country_update_hact' original.id %}" style="background-color:#ff3d00">{% trans "Update HACT" %}</a></li>

{% endblock object-tools-items %}
