[run]
branch = true
omit =  */tests/*,
        */migrations/*,

source = etools

[report]
show_missing = true
skip_covered = True
exclude_lines =
   pragma: no cover
   from\s+__future__\s+import\s+
   __author__\s+=

[html]
directory = build/coverage
