# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

*idea*

EquiTrack/static

README.rst

*.dump
.vagrant
vagrant_ansible_inventory_default

*.cpg
*.dbf
*.shp
*.shx

packer_cache
*.iso
*.box

packer.json
