/behave-test/reports
# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db
*.sql

# Logs:
*.log

*idea*

EquiTrack/static/*

static/*
media

README.rst

*.dump
dump.rdb
.vagrant
vagrant_ansible_inventory_default

*.cpg
*.dbf
*.shp
*.shx

packer_cache
*.iso
*.box

Vagrantfile
EquiTrack/EquiTrack/saml/FederationMetadata.xml

*.tar

*.gz

# no keys
*.key
*.crt


server_config.yaml
robots/*.png
robots/log.html

robots/output.xml

robots/report.html

_builds
_projects
_steps

celerybeat-schedule

htmlcov
.coverage

*.bak
*.dat
*.dir

config.json

wheelhouse

# Frontend
.frontend/
.fe/
.tmp
.editorconfig
Icon
*.sublime-project
*.sublime-workspace

assets/frontend/
templates/frontend/
/env_prod

deis

env_dev

.env

frontend/

pmp_frontend/

db_dumps/*.bz2

# Sphinx documentation
docs/_build/
