web:
  image: unicef/equitrack:develop
  command: honcho start
  volumes:
    - ./EquiTrack:/code
  ports:
    - "8080:8080"
  links:
    - db
    - redis
    - sync-gateway
  environment:
    - REDIS_URL=redis://redis:6379/0
    - DATABASE_URL=postgis://postgres:password@db:5432/postgres
    - DJANGO_SETTINGS_MODULE=EquiTrack.settings.base
    - DJANGO_DEBUG=true
    - COUCHBASE_URL=http://sync-gateway:4984/default
  env_file:
    - env_prod

beater:
  image: unicef/equitrack:develop
  command: python manage.py celery worker -B -E --loglevel=info
  links:
    - db
    - redis
  environment:
    - REDIS_URL=redis://redis:6379/0
    - DATABASE_URL=postgis://postgres:password@db:5432/postgres

db:
  image: mdillon/postgis:9.4
  environment:
    - POSTGRES_HOST=db
    - POSTGRES_PORT=5432
    - POSTGRES_NAME=postgres
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=password
  volumes:
    - ./db_dumps:/tmp/db_dumps

redis:
  image: redis

couchbase:
  image: couchbase/server:community-4.0.0
  ports:
    - 8091:8091
    - 8092:8092
    - 8093:8093
    - 18091:18091

sync-gateway:
  image: couchbase/sync-gateway
  command: sync-gateway.json
  volumes:
    - ./couchbase/sync-gateway.json:/sync-gateway.json
  links:
    - couchbase:couchbase
  ports:
    - 4984:4984
    - 4985:4985

