{
    "variables": {
        "aws_access_key": "",
        "aws_secret_key": "",
        "digitalocean_client_id": "",
        "digitalocean_api_key": ""
    },
    "builders": [
        {
            "type": "virtualbox-iso",
            "boot_command": [
                "<esc><esc><enter><wait>",
                "/install/vmlinuz noapic preseed/url=http://{{ .HTTPIP }}:{{ .HTTPPort }}/preseed.cfg <wait>",
                "debian-installer=en_US auto locale=en_US kbd-chooser/method=us <wait>",
                "hostname={{ .Name }} <wait>",
                "fb=false debconf/frontend=noninteractive <wait>",
                "keyboard-configuration/modelcode=SKIP keyboard-configuration/layout=USA keyboard-configuration/variant=USA console-setup/ask_detect=false <wait>",
                "initrd=/install/initrd.gz -- <enter><wait>"
            ],
            "boot_wait": "4s",
            "guest_os_type": "Ubuntu_64",
            "http_directory": ".",
            "iso_checksum": "e83adb9af4ec0a039e6a5c6e145a34de",
            "iso_checksum_type": "md5",
            "iso_url": "http://releases.ubuntu.com/12.04/ubuntu-12.04.4-server-amd64.iso",
            "ssh_username": "vagrant",
            "ssh_password": "vagrant",
            "ssh_port": 22,
            "ssh_wait_timeout": "10000s",
            "shutdown_command": "echo 'shutdown -P now' > shutdown.sh; echo 'vagrant'|sudo -S sh 'shutdown.sh'",
            "guest_additions_path": "VBoxGuestAdditions_{{.Version}}.iso",
            "headless": false,
            "virtualbox_version_file": ".vbox_version",
            "vboxmanage": [
                [
                    "modifyvm",
                    "{{.Name}}",
                    "--memory",
                    "2048"
                ],
                [
                    "modifyvm",
                    "{{.Name}}",
                    "--cpus",
                    "4"
                ]
            ]
        },
        {
            "type": "digitalocean",
            "client_id": "{{user `digitalocean_client_id`}}",
            "api_key": "{{user `digitalocean_api_key`}}",
            "region_id": "5"
        },
        {
            "type": "amazon-ebs",
            "access_key": "{{user `aws_access_key`}}",
            "secret_key": "{{user `aws_secret_key` }}",
            "region": "eu-west-1",
            "source_ami": "ami-808675f7",
            "instance_type": "t1.micro",
            "ssh_username": "ubuntu",
            "ami_name": "EquiTrack {{timestamp}}"
        }
    ],
    "provisioners": [
        {
            "type": "file",
            "source": "EquiTrack",
            "destination": "/tmp/EquiTrack"
        },
        {
            "type": "shell",
            "script": "deployment/bootstrap.sh",
            "execute_command": "echo 'vagrant' | {{ .Vars }} sudo -E -S sh '{{ .Path }}'"
        },
        {
            "type": "file",
            "source": "deployment",
            "destination": "/tmp/deployment"
        },
        {
            "type": "ansible-local",
            "playbook_file": "deployment/site.yml",
            "playbook_paths": ["deployment"],
            "role_paths": ["deployment/roles"],
            "staging_directory": "/tmp/deployment"
        }
    ],
    "post-processors": [
        {
            "type": "vagrant",
            "keep_input_artifact": true
        }
    ]
}