[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
mock = "*"
freezegun = "*"
responses = "*"
isort = "*"
ipython = "*"
pdbpp = "*"
tox = "*"
drf-api-checker = "*"
factory-boy = ">=2.11"
django-extensions = "*"
sphinx = "*"

[packages]
azure-storage = "==0.20.2"
carto = "==1.4"
celery = "==4.2.1"
dj-database-url = "==0.5"
dj-static = "==0.0.6"
Django = "==2.1.7"
django-appconf = "==1.0.3"
django_celery_beat = "==1.4"
django-celery-email = "==2.0.1"
django_celery_results = "==1.0.4"
django-contrib-comments = "==1.9.1"
django-cors-headers = "==2.5"
django-debug-toolbar = "==1.11"
django-easy-pdf = "==0.1.1"
django-filter = "==2.1"
django-fsm = "==2.6"
django-import-export = "==1.2"
django-js-asset = "==1.2.2"
django-leaflet = "==0.24"
django-logentry-admin = "==1.0.4"
django-model-utils = "==3.1.2"
django-mptt = "==0.9.1"
django-ordered-model = "==3.1.1"
django-post_office = "==3.1.0"
django-redis-cache = "==2.0"
django-rest-swagger = "==2.2"
django-storages = "==1.6.6"
django-tenants = "==2.1"
django-timezone-field = "==3.0"
django-waffle = "==0.15.1"
djangorestframework-csv = "==2.1.0"
djangorestframework-gis = "==0.14"
djangorestframework-jwt = "==1.11.0"
djangorestframework-recursive = "==0.1.2"
djangorestframework-xml = "==1.4"
djangorestframework = "==3.9.2"
drf-nested-routers = "==0.91"
drf-querystringfilter = "==1.0.0"
etools-validator = "==0.3.2"
flower = "==0.9.2"
GDAL = "==2.4.0"
gunicorn = "==19.9"
newrelic = "==2.94.0.79"
psycopg2-binary = "==2.7.7"
raven = "==6.10"
redis = "==3.2"
requests = "==2.21"
social-auth-app-django = "==2.1.0"
social-auth-core = {extras = ["azuread"],version = "==1.7.0"}
tenant-schemas-celery = "==0.2.1"
unicef_attachments = "==0.5"
unicef-djangolib = "==0.5.2"
unicef-locations = "==1.5"
unicef_notification = "==0.2.1"
unicef_restlib = "==0.4"
unicef_snapshot = "==0.2.3"
xhtml2pdf = "==0.2.3"

[requires]
python_version = "3.6.4"
