/*
* tweaks for bootstrap to play
* nicely with a 100% wide and 100%
* hight map (leaflet map)
*/
html, body {
  height: 100%;
}

.fill {
  padding: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 100%;
}

.fill-height {
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

body {
  padding-top: 50px; /*for navbar*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/*
* end of bootstrap tweaks
*/


#dashboard-container {
  margin-top:25px;
}
#map-container {
  padding:0;
  width: 100%;
  height:100%;
  min-height: 100%;
  min-width: 100%;
  display: block;
}
#map-column {
  padding:0;
  height:100%;
  min-height: 100%;
}
#map-container #map {
  padding:0;
  width: 100%;
  height:100%;
  min-height: 100%;
  min-width: 100%;
  display: block;
}
#map-filter h3 {
  margin:20px 0 10px 10px;
  font-size:20px;
}
#map-filter {
  background:#e6e6e6;
  height:100%;
  overflow:auto;
}
.sector-container .sector-top {
  border:2px solid blue;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  background:blue;
}
.sector-container .sector-bottom {
  border:2px solid blue;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  background:#fff;
  margin-bottom:15px; 
}
.sector-container .sector-top .heading {
  color:#fff;
  font-weight:bold;
  padding:7px 0px 4px 18px;
}
.sector-container .sector-bottom .content {
  padding:15px;
}
#templates {
  display:none;
}
.sector-block-hoverer {
  border: 2px solid transparent;
  border-radius:5px;
  padding:5px
}
.sector-block-hoverer:hover {
  border: 2px solid #555;
  cursor:pointer;
}
.sector-block-container {
  min-height:70px;
}
.target-name {
  font-size:12px;
}
.target-bar {
  height:50px
}
.target-month-block-hoverer {
  float:left;
  border: 2px solid transparent;
  border-radius:5px;
  background:#ddd;
  margin-right:5px;
}
.target-month-block-hoverer:hover {
  border: 2px solid #555;
  cursor:pointer;
}
.monthly-target-bar {
  width:100px;
  height:350px;
}
.monthly-target-bar-label {
  text-align:center;
  font-size:12px;
}
.target-grey {
  background:#eee;
  padding:20px;
}
#target-progress-header {
  margin-bottom:15px;
  border-bottom: 1px solid #555;
}
#target-progress-headline h1 {
  padding:5px;
  font-size:18px;
}
#modal-info {
  padding:20px;
  text-align:center;
  background:#ccc;
  height:150px;
  border-radius:10px;
  border: 1px solid #999;
  margin-bottom:10px;
}
#target-progress-unit-filter-container {
  background:#ddd;
  margin-bottom:7px;
  padding:7px;
}
#target-progress-unit-filter-title {
  margin:0 0 5px 0;
}

/* LEAFLET STYLES */
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
}
/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
}
.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
}
.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
	line-height: 30px;
}
.key-table {
  border-spacing: 4px;
  border-collapse: separate;  
}
.key-label {
  font-size:12px;
}
hr { 
  display: block; 
  height: 1px;
  border: 0; 
  border-top: 1px solid #999;
  margin: 1em 0;
  padding: 0;
}
body .modal-dialog {
  width: 60%; /* respsonsive width */
}
body .modal-header {
  border-bottom: 1px solid #999;
}


/* ==========================================================================
   Map
   ========================================================================== */

      html, body {height:100%; padding: 0;}
        #cartodb-map {height:100%; margin-left: 250px; background: white;}
        #mapmenu { position: absolute; top: 10px; right: 10px; height:60px; background: transparent; z-index:10;}
        #mapmenu a {
          margin: 15px 10px 0 0;
          float: right;
          vertical-align: baseline;
          width: 100px;
          padding: 10px;
          text-align: center;
          font: bold 11px "Helvetica",Arial;
          line-height: normal;
          color: #FFF;
          border-radius: 4px;
          border: 1px solid #777777;
          /*background: #ffffff; */
          text-decoration: none;
          cursor: pointer;
        }
        #mapmenu a.selected {
           background: #777; }
        #mapmenu a:hover {
          color: #f09;
        }

        .infowindow-custom{
            position: relative;
            width: 500px;
            background-color: white;
            margin-bottom: 11px;

          }

        .cartodb-popup-close-button {
            position: absolute;
            top: -12px;
            right: -11px;
            width: 26px;
            height: 26px;
            background: url('http://libs.cartodb.com/cartodb.js/v3/themes/img/light.png') no-repeat 0 -23px;
            text-indent: -9999px;
            font-size: 0;
            line-height: 0;
            opacity: 1;
            text-transform: uppercase;
            z-index: 3;
          }

          .cartodb-popup-tip-container {
            position: absolute;
            bottom: -3px;
            left: 23px;
            width: 16px;
            height: 14px;
            background: url('http://libs.cartodb.com/cartodb.js/v3/themes/img/light.png') no-repeat -23px -7px;
            text-indent: -9999px;
            font-size: 0;
            line-height: 0;
            opacity: 1;
            z-index: 3;
          }

          blockquote {
            display: hidden;
          }

          .cartodb-popup-content {
            min-height: 100px;
          }
        .leaflet-popup-content{
        min-width: 400px !important;
        width: inherit !important;
        height: 500px;
            height: inherit !important;
    }

    .scrollable-menu {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
    }

    /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
    .modal {
        display:    none;
        position:   fixed;
        z-index:    1000;
        top:        0;
        left:       0;
        height:     100%;
        width:      100%;
        background: rgba( 255, 255, 255, .8 )
                    url('http://i.stack.imgur.com/FhHRx.gif')
                    50% 50%
                    no-repeat;
    }

    /* When the body has the loading class, we turn
       the scrollbar off with overflow:hidden */
    body.loading {
        overflow: hidden;
    }

    /* Anytime the body has the loading class, our
       modal element will be visible */
    body.loading .modal {
        display: block;
    }