
{% load static from staticfiles %}
 <div class="inline-group suit-tab suit-tab-checklists show">
     <h2>Checklists</h2>
     <div class="inline-related">
         <h3><b>Checklists:</b>&nbsp;<span class="inline_label"></span></h3>

         <fieldset class="module aligned first ">
            <div class="text-center text-info" style="padding: 5%;">
                <a href="{% static "checklists/trips_checklists.docx" %}" class="btn btn-primary btn-lg">Download Checklist</a>
            </div>
         </fieldset>
     </div>
</div>