
{% extends "admin/base.html" %}
{% load i18n static%}
{% load userprofile_tags %}
{% load uservoice %}

{% block extrahead %}

    <script src="{{ STATIC_URL }}js/trips_admin.js" type="text/javascript"></script>
    {% include 'autocomplete_light/static.html' %}
    <style type="text/css">
    #header
    {
        background: #0099ff;
        color: #fff;
        text-shadow: none;
        min-height: 60px;
    }

    .header #branding {
        border-right: 0px;
        width: auto;
        white-space: nowrap;
    }

    .header #branding a {
        text-decoration: none;
        font-weight: 700;
    }

    .header #branding h1 {
        text-shadow: none;
        width: 300px;
    }
   .header a:link, a:visited {
        text-decoration: none;
        outline: none;
    }
    .header .header-content.header-content-first{
        border-left: 0px;
        padding-top: 15px;
    }


   #header .logo {
        color: #fff;
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 8px 0 0 0px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
    }

    #header .logoimg {
        margin: 0px 0px 10px 5px;
    }

    #header .logo span {
        font-weight: 300;
    }

    #header .logo #test-text {
        display: none;
        color: #e6e600;
        font-weight: 700;
    }

    .header #user-tools, #country-select {
        padding: 15px 20px 0 0;
        float: right;
    }


    /* Footer */
    #footer
    {
        background: #ffffff;
    }

    #footer .brand{
        background: #ffffff;
        color: #0099ff;
        font-size: 1.1em;
        padding: 17px 10px 10px 30px;
        float: left;

    }

    #footer .msg{
        padding-top: 22px;
        padding-right: 40px;

    }

   /* ==========================================================================
      Django Suit Overrides
   ========================================================================== */

    .form-horizontal .control-group .controls .selector .selector-available, .form-horizontal .control-group .controls .selector .selector-chosen {
        max-width: 400px;
    }
    </style>
    <script>
    $( document ).ready(function() {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $( "#country_selection" ).change(function(ev) {
          // send post request
            var my_data = {'country': ev.target.value};
            $.post('/users/api/changecountry/', my_data, function() {
                // success here
                location.href = "/";
            }).fail(function(){window.alert('Country change failed')})
        });
    });
    </script>
    <script>
     $(document).ready(function () {
         var host = {
             'localhost'                : 'Local Testing Environment',
             'etools-dev.unicef.org'    : 'Develop Testing Environment',
             'etools-staging.unicef.org': 'Staging Testing Environment'
         };
         var cond = /localhost|etools-dev|etools-staging/g;
        if (cond.test(window.location)) {
            $('#header').css({'background': '#BE1A1A'});
            $('#test-text').show().text(' ' + host[window.location.hostname]);
        }
    });

    </script>
{% endblock %}

{% block title %}{{ title }} | eTools{% endblock %}
{% block branding %}



    <section id="container">
    <div id="site-name"><img class="logoimg" src="{{ STATIC_URL }}img/UNICEF_logo_white.png" width="100" style="padding-right: 30px" ><a href="{% url 'admin:index' %}" class="logo">e<span>Tools<span id="test-text">Testing Environment</span></span></a></div>
{% endblock %}
{% block usertools %}
        {% if has_permission %}
            <div id="user-tools">
                {% block welcome-msg %}
                    {% trans 'Welcome,' %}
                    <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                {% endblock %}
            </div>

        {% endif %}
{% endblock %}

{% block nav-global %}
 <div id="country-select">
    {% show_country_select user.profile %}
 </div>

{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="brand">
            <a href="http://www.unicef.org"><img src="{{ STATIC_URL }}img/UNICEF_logo_Cyan.png" width="113px" height="27px"></a>
        </div>
        <div class="brand msg">
            <span>© Copyright 2015 UNICEF. All Rights Reserved. Country: {{ request.tenant.name }}</span>
        </div>
    </footer>
    {% uservoice %}
{% endblock footer %}