[run]
branch = true
omit =  */tests/*,
        */migrations/*,
        */settings/*,

source = etools

[report]
fail_under = 50
show_missing = true
skip_covered = True
exclude_lines =
   pragma: no cover

[html]
directory = build/coverage
