<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            .padding {
                padding: 3%;
            }
        </style>
        
        <title>Android eTrips application</title>
    </head>
    <body>
        
        <div class="page-header">
          <h2 class="padding">eTrips Android application</h2>
        </div>
        
        <br>
        <div class="padding">
            <div class="jumbotron padding">
                
                <p>
                    <a class="btn btn-primary btn-block padding" href="/static/app/eTrips/android/etrips.apk" role="button">Install Latest Debug Version</a>
                </p>
                
                <p>
                    <a class="btn btn-primary btn-block padding" href="/static/app/eTrips/android/etrips-release.apk" role="button">Install Latest Release Version</a>
                </p>
            
        </div>
        
 
    </body>
</html>
