{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Partner Sign In" %}{% endblock %}

{% block extra_head %}

<style>
    paper-button.fancy {
      background: #0099FF;
      color: #ffffff;
    }
    .padding{
        padding: 2%;
    }
    paper-card .card-actions {
        margin-top: 4%;
    }

    paper-card {
        max-width: 800px;
        min-width: 410px;
        width: 90%;
        margin: 2% auto;
        display:block;
        position: relative;
    }

    .form-error {
        color: #F03300
    }
</style>
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<paper-card heading="Sign In with Social Account" class="padding">
      <div class="card-content">

            <p>{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>
      </div>
</paper-card>
{% endif %}

<paper-card heading="Sign In with Local Credentials" class="padding">

    <form id="form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
              {% if error %}
                  <span class="form-error">
                  <iron-icon icon="error"></iron-icon>
                  <span>{{ error }}</span>
                  </span>
              {% endif %}
        {% endfor %}
        {{ form.NON_FIELD_ERRORS }}
        {% for field in form %}



            {% if field.field.widget.input_type %}



                <paper-input name="{{ field.name }}"
                             error-message="{% for error in field.errors %}{{ error }}{% endfor %}"
                              {% for error in field.errors %}
                                  {% if error %}
                                       invalid="true"
                                  {% endif %}
                              {% endfor %}
                             label="{{ field.label }}"
                             type="{{ field.field.widget.input_type }}"
                             autovalidate="true" required></paper-input>
            {% else %}
                <br>
                <paper-checkbox name="{{ field.name }}">{{ field.label }}</paper-checkbox>

            {% endif %}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}

        {% endfor %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <br>



    <div class="card-actions padding">
        <paper-item><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></paper-item>

        <paper-button class="fancy" onclick="submitForm()" type="submit">{% trans "Sign In" %}</paper-button>
    </div>

    </form>
    <iron-icon icon="info"></iron-icon>
    <span>If you never logged in before, and you don't yet have a password, then please
    <a href="{% url 'account_reset_password' %}">Set your Password</a> first.</span>
</paper-card>








{% endblock %}

{% block extra_js %}
<script>
        function submitForm() {
          document.getElementById('form').submit();
        }

</script>
{% endblock %}

