version: 2
jobs:
  test:
    working_directory: ~/code
    # The primary container is an instance of the first list image listed. Your build commands run in this container.
    docker:
      - image: unicef/etools:test-base-p3-v2
        environment:
          PGHOST: 127.0.0.1
          DATABASE_URL: "postgis://postgres:postgres@localhost:5432/circle_test"
      - image: circleci/postgres:9.5-alpine-postgis
        environment:
          POSTGRES_USER: postgres
          PGUSER: postgres
          POSTGRES_DB: circle_test
          POSTGRES_PASSWORD: postgres
      - image: redis
    steps:
      - checkout
      - restore_cache:
          key: deps2-{{ .Branch }}--{{ checksum "Pipfile.lock" }}-{{ checksum ".circleci/config.yml" }}
      - run:
          name: Run Tests
          command: |
            pip install codacy-coverage
            tox -e d21,report
      - save_cache:
          key: deps2-{{ .Branch }}--{{ checksum "Pipfile.lock" }}-{{ checksum ".circleci/config.yml" }}
          paths:
            - "env1"
            - /root/.cache/pip
      - store_test_results:
          path: build/
      - store_artifacts:
          path: build/coverage
          destination: coverage
      - store_artifacts:
          path: build/report
          destination: report
    post:
      - bash <(curl -s https://codecov.io/bash)
      - python-codacy-coverage -r coverage.xml

  build_and_deploy:
    machine: true
    steps:
      - checkout
      - run:
          name: Building the image
          command: |
            TAG=${CIRCLE_BRANCH}
            docker build -t unicef/etools:$TAG .
      - run:
          name: Pushing to Docker Hub
          command: |
            TAG=${CIRCLE_BRANCH}
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push unicef/etools:$TAG

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - build_and_deploy:
          requires:
            - test
          filters:
            branches:
              only:
                - master
                - staging
                - develop
                - testing
                - ci-updates
