{% extends "base.html" %}

{% block extra_head %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css" />

    <style>

        th {
            border-color: black;
            background-color: lightskyblue;
        }
    </style>

{% endblock %}

{% block content %}

<!--sidebar end-->
         <!--main content start-->
         <section class="main-content-wrapper">
            <section id="main-content">
                 <div class="row">
                    <div class="col-md-12">
                        </br>
                        <h1 class="h1">HACT Dashboard</h1>
                    </div>
                </div>

            <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">Assurance Activites</h3>
                            <div class="actions pull-right">
                                <i class="fa fa-chevron-down"></i>
                                <i class="fa fa-times"></i>
                            </div>
                          </div>
                          <div class="panel-body">
                            <table id="plan" class="table table-striped table-bordered cell-border"
                                   data-height="500"
                                   data-pagination="true"
                                   data-search="true"
                                   cellspacing="0"
                                   width="100%">
                            <thead>
                                <tr>
                                    <th rowspan="2">#</th>
                                    <th rowspan="2">Implementing Partner (IP) name</th>
                                    <th rowspan="2">Partner Type</th>
                                    <th rowspan="2">Shared IP?</th>

                                    <th colspan="2">Micro assessment</th>
                                    <th colspan="2">Cash transfers</th>
                                    <th rowspan="2">Risk Rating</th>
                                    <th colspan="3">Programmatic visits</th>
                                    <th colspan="2">Spot checks</th>
                                    <th colspan="2">Audits</th>

                                    <th rowspan="2">Flags for follow-up?</th>
                                </tr>
                                    <tr>
                                        <th>Planned cash transfers (current year)</th>
                                        <th>To be done?</th>

                                        <th>Total (current CP cycle, USS$</th>
                                        <th>Actual, USS$</th>

                                        <th>Planned</th>
                                        <th>MR adjusted</th>
                                        <th>Done</th>

                                        <th>MR adjusted</th>
                                        <th>Done</th>

                                        <th>MR</th>
                                        <th>Done</th>
                                    </tr>
                            </thead>

                            <tbody>
                                {% for partner in partners %}

                                    {% with reqs=partner.hact_min_requirements %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{{ partner.get_admin_url }}">{{ partner.name }}</a></td>
                                        <td>{{ partner.partner_type }}</td>
                                        <td>{{ partner.shared_partner }}</td>
                                        <td>{{ partner.hact_values.planned_cash_transfers }}</td>
                                        <td>{{ partner.hact_values.micro_assessment_needed }}</td>
                                        <td>{{ partner.total_ct_cp }}</td>
                                        <td>{{ partner.total_ct_cy }}</td>
                                        <td>{{ partner.rating }}</td>
                                        <td>{{ partner.hact_values.planned_visits }}</td>
                                        <td>{{ reqs.programme_visits }}</td>
                                        <td>{{ partner.hact_values.programmatic_visits }}</td>
                                        <td>{{ reqs.spot_checks }}</td>
                                        <td>{{ partner.hact_values.spot_checks }}</td>
                                        <td>{{ partner.hact_values.audits }}</td>
                                        <td>{{ partner.audits }}</td>
                                        <td>{{ partner.partner.hact_values.follow_up_flags }}</td>
                                    </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>

                       </div>
                     </div>
                </div>
            </div>

            </section>
         </section>
         <!--main content end-->
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#plan').DataTable({
                scrollY: '50vh',
                scrollX: true,
                scrollCollapse: true
            });
        } );
    </script>

{% endblock %}