# simple uWSGI upstart job

description   "uwsgi tiny instance"
author        "Zenobius Jiricek <airtonix@gmail.com>"


start on runlevel [2345]
stop on runlevel [06]
respawn

exec /usr/local/bin/uwsgi \
  --socket :8000 \
  --logto {{ project.root }}/log/application.log \
  --home {{ django.virtualenv }} \
  --env DJANGO_SETTINGS_MODULE={{ django.settings }} \
  --pythonpath {{ project.root }}/{{ project.name }}/ \
  --module {{ django.wsgi }} \
  --static-map /static={{ project.root }}/assets \
  --static-map /files={{ project.root }}/files \
  --max-requests 1000 \
  --master \
  --processes 1
