{% extends "easy_pdf/base.html" %}
{% load humanize %}

{% block style_base %}
  {% comment %}
    See DEFAULT_CSS in https://github.com/chrisglass/xhtml2pdf/blob/master/xhtml2pdf/default.py
    for base style.
  {% endcomment %}

  {% block layout_style %}
    <style type="text/css">
      @page {
        size: letter;
        margin-left: 2.0cm;
        margin-right: 2.0cm;
        margin-top: 1.8cm;
        margin-bottom: 1.8cm;

        @frame header {
          -pdf-frame-content: page-header;
          margin-top: 0cm;
          margin-right: 0mm;
          margin-bottom: 0.3cm;
          margin-left: 0cm;
          background-color: #0099ff;
          height: 2cm;
        }

        @frame footer_frame {
          /* Static frame */
          -pdf-frame-content:footer_content;
          left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
      }

      @page landscape {
        size: letter landscape;
        margin-left: 2.0cm;
        margin-right: 2.0cm;
        margin-top: 1.8cm;
        margin-bottom: 1.8cm;

        @frame header {
          -pdf-frame-content: page-header;
          margin-top: 0cm;
          margin-right: 0mm;
          margin-bottom: 0.3cm;
          margin-left: 0cm;
          background-color: #0099ff;
          height: 2cm;
        }

        @frame footer_frame {
          /* Static frame */
          -pdf-frame-content:footer_content;
          left: 50pt; width: 680pt; top: 590pt; height: 20pt;
        }
      }
    </style>
  {% endblock %}
  {% block extra_style %}
    <style type="text/css">
      ul {
        list-style-type: none;
      }

      #content {
        font-family: "Helvetica";
        font-size: 12pt;
        background-color: #ffffff;
      }

      #title {
        font-size: 14pt;
      }

      #title.main-title {
        font-size: 20pt;
      }

      .text-blue {
        color: #0070c0;
      }

      .page-break {
        page-break-after: always;
      }

      .text-left {
        text-align: left;
      }

      .text-center {
        text-align: center;
      }

      .text-right {
        text-align: right;
      }

      .text-justify {
        text-align: justify;
      }

      .text-bordered {
        border: 1pt solid #0070c0;
      }

      .head_table {
        border: 1pt solid #0070c0;
        background-color: rgb(210, 217, 229);
      }

      .head_table td {
        padding: 3pt;
        line-height: 1;
      }

      .common_table {
        border: 1pt solid #75b2dd;
        text-align: center;
      }

      .common_table td {
        padding: 3pt;
        line-height: 1;
        min-width: 20pt;
      }

      .common_table td.head {
        background-color: #0070c0;
        color: white;
        padding: 5pt 3pt;
        font-weight: bold;
      }

      pdftoc {
        color: #0070c0;
      }

      pdftoc.pdftoclevel0 {
        font-weight: bold;
        margin-top: 0.5em;
      }

      pdftoc.pdftoclevel1 {
        margin-left: 1em;
      }

    </style>
  {% endblock %}
{% endblock %}

{% block content %}
  {% if error %}
    PDF could not be generated properly: <br> {{ error }}
  {% else %}
    <div id="content">
      <div id="title" class="text-blue">
        <div class="text-center">
          <p class="main-title" style="margin-top: 50pt;">
            <b>Monitoring Visit Letter</b>
          </p>
        </div>
      </div>
      <div>
        <p class="" style="margin: 0; padding: 5pt 3pt;">
          {% if visit.tpm_activities.count > 1 %}
            <b>{{ visit.tpm_partner.name }}</b> will visit several implementing partners:<br/>
            <br/><br/>
            {% for activity in visit.tpm_activities.all %}
              <b>{{ activity.implementing_partner.name }}</b> at <b>{{ activity.date }}</b>
              in the following locations: {{ activity.locations.all|join:', ' }}
              in the framework of their partnership with <b>UNICEF {{ activity.partnership.title }}</b>
              <br/><br/>
            {% endfor %}
          {% else %}
            <b>{{ visit.tpm_partner.name }}</b> will visit <b>{{ visit.tpm_activities.first.implementing_partner.name }}</b>
            at <b>{{ activity.date }}</b> in the following locations: <b>{{ visit.tpm_activities.first.locations.all|join:', ' }}</b>
            in the framework of their partnership with <b>UNICEF {{ visit.tpm_activities.first.partnership.title }}</b>
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
