interactions:
- request:
    body: null
    headers:
      Authorization: [Basic LlxCSVNlcnZpY2U6QklAMTIzNDU=]
      Content-Type: [application/json]
    method: GET
    uri: https://devapis.unicef.org/BIService/BIWebService.svc/GetCostAssignmentInfo_JSON/0780
  response:
    body: {string: !!python/unicode '"{ \"ROWSET\": { \"ROW\": [ {\"FUND_TYPE_CODE\":
        \"SC\", \"GRANT_REF\": \"SC110137\", \"WBS_ELEMENT\": \"0780A005702001000\",
        \"WBS_ELEMENT_EX\": \"0780\\\/A0\\\/05\\\/702\\\/001\" }, {\"FUND_TYPE_CODE\":
        \"SC\", \"GRANT_REF\": \"SC140467\", \"WBS_ELEMENT\": \"0780A005701001000\",
        \"WBS_ELEMENT_EX\": \"0780\\\/A0\\\/05\\\/701\\\/001\" }, {\"FUND_TYPE_CODE\":
        \"SM\", \"GRANT_REF\": \"SM099906\", \"WBS_ELEMENT\": \"0780A004612002000\",
        \"WBS_ELEMENT_EX\": \"0780\\\/A0\\\/04\\\/612\\\/002\" }, {\"FUND_TYPE_CODE\":
        \"SM\", \"GRANT_REF\": \"SM099906\", \"WBS_ELEMENT\": \"0780A004602030000\",
        \"W[...]
