# simple celerybeat upstart job

description "celerybeat_{{ project.name }} instance"
start on runlevel [2345]
stop on runlevel [06]


exec {{ project.virtualenv }}/bin/python {{ django.root }}code/application/manage.py celerybeat --schedule={{ django.root }}/celerybeat-schedule --loglevel=INFO --settings=base.settings.live
