<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            .padding {
                padding: 3%;
            }
        </style>
        <title>eTools Apps portal</title>
    </head>
    <body>
       
        <div class="page-header">
          <h2 class="padding">Welcome to the eTools mobile apps portal</h2>
        </div>
        
        <br>
        <div class="padding">
            <div class="jumbotron padding">
                <h3>Choose your device:</h3>
                <div class="row padding">
                    <p class="col-xs-6"><a class="btn btn-primary btn-block padding" href="/trips/apps/android" role="button">Android</a></p>
                    <p class="col-xs-6"><a class="btn btn-primary btn-block padding" href="/trips/apps/ios" role="button">IOS</a></p>

                </div>

            </div>
        </div>
        
    </body>
</html>