{% extends "admin/change_form.html" %}{% load i18n %}
{% block object-tools-items %}
    {{ block.super }}
    <li><a href="{% url 'admin:users_country_partners' original.id %}" style="background-color:#0099ff">{% trans "Sync Partners" %}</a></li>
    <li><a href="{% url 'admin:users_country_programme' original.id %}" style="background-color:#0099ff">{% trans "Sync Programme" %}</a></li>
    <li><a href="{% url 'admin:users_country_ram' original.id %}" style="background-color:#0099ff">{% trans "Sync RAM" %}</a></li>
    <li><a href="{% url 'admin:users_country_fund_reservation' original.id %}" style="background-color:#0099ff">{% trans "Sync Fund Reservation" %}</a></li>
    <li><a href="{% url 'admin:users_country_fund_commitment' original.id %}" style="background-color:#0099ff">{% trans "Sync Fund Commitment" %}</a></li>

    <li><a target='_blank' href="https://devapis.unicef.org/BIService/BIWebService.svc/GetPartnerDetailsInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Partner" %}</a></li>
    <li><a target='_blank' href="https://devapis.unicef.org/BIService/BIWebService.svc/GetProgrammeStructureList_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Programme" %}</a></li>
    <li><a target='_blank' href="https://devapis.unicef.org/BIService/BIWebService.svc/GetRAMInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API RAM" %}</a></li>
    <li><a target='_blank' href="https://devapis.unicef.org/BIService/BIWebService.svc/GetFundsReservationInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Fund Reservation" %}</a></li>
    <li><a target='_blank' href="https://devapis.unicef.org/BIService/BIWebService.svc/GetFundsCommitmentInfo_xml/{{original.business_area_code}}" style="background-color:#96c525">{% trans "API Fund Commitment" %}</a></li>

{% endblock object-tools-items %}