<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<h1>Gateway Type</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="get" accept-charset="utf-8">
    <select name="gateway" id="gateway">
        <option value="1">Select a gateway</option>
        {% for gateway in gateway_list %}
            <option value="{{ gateway.id}}">{{ gateway.name }}</option>
        {% endfor %}
    </select>
    <select name="model" id="model" disabled="true">
        <option>Select a model</option>
    </select>
</form>

<script>
    $(document).ready(
         function() {
             $("select#gateway").change(function () {
                 if ($(this).val() == '') {
                     $("select#model").html("<option>Select a model</option>");
                     $("select#model").attr('disabled', true);
                 }
                 else {
                     var url = "/locations/location/" + $(this).val() + "/all_json_models";
                     var gateway = $(this).val();

                     $.getJSON(url, function (vmodels) {
                         var options = '<option value="">Select a model</option>';
                         for (var i = 0; i < vmodels.length; i++) {
                             options += '<option value="' + vmodels[i].pk + '">' + vmodels[i].fields['name'] + '</option>';
                         }
                         $("select#model").html(options);
                         $("select#model option:first").attr('selected', 'selected');
                         $("select#model").attr('disabled', false);
                     });
                 }
             });


             $("select#model").change(function (vent) {
                 if ($(this).val() == -1) {
                     return;
                 }
                 //myAwesomeFunctionToCallWhenAModelIsSelected();
                 alert("model selected");
             });
         });


</script>

</body>
</html>