{% extends "audit/engagement_pdf.html" %}

{% block extra_content %}
  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">{{ serializer.fields.specific_procedures.label }}</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td colspan="2">Finding Number</td>
          <td colspan="3">{{ serializer.fields.specific_procedures.child.fields.description.label }}</td>
          <td colspan="3">{{ serializer.fields.specific_procedures.child.fields.finding.label }}</td>
        </tr>
        {% for specific_procedure in engagement.specific_procedures %}
          <tr>
            <td colspan="2">{{ forloop.counter }}</td>
            <td colspan="3">{{ specific_procedure.description|default:"-" }}</td>
            <td colspan="3">{{ specific_procedure.finding|default:"-" }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">-</td><td colspan="3">-</td><td colspan="3">-</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="content-section">
    <div class="content-section__header">
      <div class="content-section__header__title">{{ serializer.fields.other_recommendations.label }}</div>
    </div>
    <div class="content-section__wrapper">
      <table class="content-section__table">
        <tr class="content-section__table__header">
          <td colspan="2">Finding Number</td>
          <td colspan="6">{{ serializer.fields.other_recommendations.child.fields.description.label }}</td>
        </tr>
        {% for recommendation in engagement.other_recommendations %}
          <tr>
            <td colspan="2">{{ forloop.counter }}</td>
            <td colspan="6">{{ recommendation.description|default:"-" }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">-</td><td colspan="6">-</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
